{% macro render_header(this) %}
{%- if this.header_class != 'none' %}
<header id="header" class="{{this.header_class}}">
  {#- logo #}
  <a href="{{(bag('website.logo_link_url') or '/')|url}}" class="logo">
    <img src="{{'/img/logo.png'|asseturl}}" class="logo-dark" alt="">
    <img src="{{'/img/logo-light.png'|asseturl}}" class="logo-light" alt="">
  </a>
  {#- mobile menu icon #}
  <a href="#" class="mob-menu"><i class="fa fa-bars"></i></a>
  {#- menu #}
  <nav>
    <ul class="main-menu">
      {{- render_menu(bag('website.header_menu') or bag('borano.header_menu')) }}
    </ul>
  </nav>
</header>
{%- endif %}
{%- endmacro %}


{% macro render_menu(menu) %}
{%- for entry in menu %}
<li>
  <a href="{{entry.url|url}}">{{entry.label}}</a>
  {%- if entry.menu %}
  <ul>
  {{- render_menu(entry.menu) }}
  </ul>
  {%- endif %}
</li>
{%- endfor %}
{%- endmacro %}


{%- macro render_footer(this) %}
{%- if this.footer_class != 'none' %}
<footer id="footer" class="{{this.footer_class}}">
  <div class="footer-links">
    &copy; 2020. By Daniele Varrazzo. |
    <a target="_blank" href="https://github.com/dvarrazzo/">GitHub</a> |
    <a target="_blank" href="https://www.linkedin.com/in/danielevarrazzo/">LinkedIn</a> |
    <a target="_blank" href="https://www.instagram.com/dvarrazzo/">Instagram</a> |
    <a target="_blank" href="https://www.flickr.com/photos/dvarrazzo/">Flickr</a>
  </div>

</footer>
{%- endif %}
{%- endmacro %}


{#- vim: set filetype=htmldjango: #}
