{%- macro render_gallery(this) %}
<div class="grid gallery"
    data-gutter="{{this.gutter}}" data-columns="{{this.columns}}">
  {%-for img in this.attachments.images|sort(attribute="path") %}
  <div class="grid-item">
    <a href="{{img|url}}" data-background="{{
        img.thumbnail(
          this.thumbnail_width, 
          quality=this.thumbnail_quality)
        |url}}" data-rel="lightcase:gal"
        {%- if img.exif.description %} title="{{img.exif.description}}"
        {%- endif -%}
        ></a>
  </div>
  {%-endfor %}
</div>
{%- endmacro %}

{# vim: set filetype=htmldjango: #}
