{% macro render_menu(menu) %}
{%- for entry in menu %}
<li>
  <a href="{{entry.url|url}}">{{entry.label}}</a>
  {%- if entry.menu %}
  <ul>
  {{- render_menu(entry.menu) }}
  </ul>
  {%- endif %}
</li>
{%- endfor %}
{%- endmacro %}

{% macro render_header() %}
<header id="header" class="fixed has-border">
  <!-- LOGO -->
  <a href="{{(bag('website.logo_link_url') or '/')|url}}" class="logo">
    <img src="{{'/img/logo.png'|asseturl}}" class="logo-dark" alt="">
    <img src="{{'/img/logo-light.png'|asseturl}}" class="logo-light" alt="">
  </a>
  <!-- MOBILE MENU ICON -->
  <a href="#" class="mob-menu"><i class="fa fa-bars"></i></a>
  <!-- MENU -->
  <nav>
    <ul class="main-menu">
      {{- render_menu(bag('website.header_menu')) }}
    </ul>
  </nav>
</header>
<!-- /HEADER -->
{% endmacro %}
{# vim: set filetype=htmldjango: #}
