/* override values in borano theme */

p {
    color: #222;
}

/* indented bullet list but only in the main content, not in the menu */

.main-wrapper > div ul {
    padding-left: 2em;
}
.main-wrapper > div ul > li {
    padding-left: 0.25em;
}

.row2flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.row2flex.reverse {
    flex-direction: row-reverse;
}

.row2flex > div {
    min-height: 200px;
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .row2flex > div {
        width: 100%;
    }
}

/* bump up the content of the entrance to allow clicking on the <a>s */
.entrance div.bumper {
    position: relative;
    z-index: 11;
}

.entrance h3 a {
    text-decoration: none;
}

.entrance h3 a:hover {
    text-decoration: underline;
}


/* adapt the contact info to reST-generated content */
.contact-info strong {
    font-size: 13px;
}

.contact-info a {
    display: initial;
}

tt.docutils.literal {
    font-weight: bold;
}

a.landing.entrance {
    text-decoration: underline;
}
a.landing.entrance:hover {
    text-decoration: none;
}

/* centered image from reST */
img.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
