/* override values in borano theme */

p {
    color: #222;
}

/* indented bullet list but only in the main content, not in the menu */

#content div ul {
    padding-left: 2em;
}
#content div ul > li {
    padding-left: 0.25em;
}

.row2flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.row2flex.reverse {
    flex-direction: row-reverse;
}

.row2flex > div {
    min-height: 200px;
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .row2flex > div {
        width: 100%;
    }
}

/* bump up the content of the entrance to allow clicking on the <a>s */
.entrance div.bumper {
    position: relative;
    z-index: 11;
}

.entrance h3 a {
    text-decoration: none;
}

.entrance h3 a:hover {
    text-decoration: underline;
}


/* adapt the contact info to reST-generated content */
.contact-info strong {
    font-size: 13px;
}

.contact-info a {
    display: initial;
}

tt.docutils.literal {
    font-weight: bold;
}

a.landing.entrance {
    text-decoration: underline;
}
a.landing.entrance:hover {
    text-decoration: none;
}

div.admonition, div.system-message {
	background-color: #ffc;
	padding: 0.5em;
	border-color: #888;
	border: 1px solid #888;
	margin-bottom: 10px;
}

div.system-message  {
	background-color: #fcc;
}

div.admonition p {
	padding-left: 2em;
}

div.admonition p.admonition-title {
	padding-left: 0em;
}

div.admonition p.last {
	margin-bottom: 0;
}

/* images in the articles */
img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.align-left {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

img.align-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

img.flag {
	width: 30px;
	height: 30px;
	vertical-align: bottom;
}

.widget-area img.flag {
    height: 1em;
    width: auto;
    vertical-align: baseline;
    margin-bottom: -2px;
}

img.float-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

img.float-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}

img.clear-left {
    clear: left;
}

img.clear-right {
    clear: right;
}

img.clear-both {
    clear: both;
}
