{% extends "page.html" %}

{% block head %}
<link rel="alternate" type="application/atom+xml" title="Blog posts"
  href="{{'/blog.xml'|url}}" />
<link rel="alternate" type="application/atom+xml" title="Articles about software"
  href="{{'/software.xml'|url}}" />
{% endblock %}

{% block main %}

<div class="container fullwidth no-padding">

  {# image background #}
  <div class="col-md-6 col-sm-5 fullscreen-height fixed hidden-xs" data-background="
    {%- if this.background %}{{this.background|asseturl}}
    {% else %}http://placehold.it/1200x900{% endif -%}">
  </div>

  {# body #}
  <div class="col-md-6 col-sm-7 col-md-offset-6 col-sm-offset-5 fullscreen-height">
    <div class="vcenter-outer p70 pt130">
      <div class="vcenter-inner">
        {% if this.tooltip %}
          <h5 class="title-tooltip">{{this.tooltip}}</h5>
        {% endif %}
        <h3 class="title mt0">{{this.title}}</h3>
        <p class="separator-left mb20"></p>
        {{this.body}}
        {{this.buttons}}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{# vim: set filetype=htmldjango: #}
