{% extends "page.html" %}
{% from "macros/sidebar.html" import render_widget_recent %}
{% from "macros/blog.html" import render_blog_header, render_comments %}
{% from "macros/gallery.html" import render_gallery %}

{% block main %}

{{- render_blog_header(this) }}

<div class="container mt70 mb70">
  <div class="row">
    <div id="content" class="col-md-8 col=md-offset-2">
      {{- this.body }}
    </div>
  </div>
</div>

<div class="text-center mt100 mb100 container">
  <h3 class="title">Gallery</h3>
  <p class="separator mb70"></p>
  {{ render_gallery(site.get(this.gallery)) }}
</div>

<div class="container mt70 mb70">
  <div class="row">
    <div id="content" class="col-md-9">
      {{ render_comments() }}
    </div>
    <div id="sidebar" class="col-md-3">
      <div class="sidebar-inner">
        <div class="widget-area">
          {{ render_widget_recent() }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{# vim: set filetype=htmldjango: #}
