{%- from "macros/borano.html" import render_header, render_footer -%}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{this.title}} &mdash; Daniele Varrazzo</title>
    {% if this.description %}
    <meta name="description" content="{{this.description}}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="{{'css/plugins.css' | asseturl}}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300%7cPoppins:400,300,500,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{'css/main.css' | asseturl}}">
    <link rel="stylesheet" href="{{'css/syntax.css' | asseturl}}">
    <link rel="stylesheet" href="{{'css/custom.css' | asseturl}}">
    <script src="{{'js/lib/modernizr-2.6.2.min.js' | asseturl}}"></script>
  </head>

  <body
    {%- if this.theme == 'dark'
        or (this.theme == 'default' and bag('website.theme') == 'dark')
    %} class="dark-theme"
   {%- endif -%}
  >
    <div class="main-wrapper
      {%- if this.animsition == 'yes'
          or (this.animsition == 'default' and bag('website.animsition'))
      %} animsition
      {%- endif -%}
    ">
      {{- render_header(this) }}
      {%- block main %}{{this.body}}{% endblock %}
      {{- render_footer(this) }}
    </div>
    <script src="{{'js/lib/jquery.min.js' | asseturl}}"></script>
    <script src="{{'js/lib/scripts.js' | asseturl}}"></script>
    <script src="{{'js/main.js' | asseturl}}"></script>
  </body>
</html>


{#- vim: set filetype=htmldjango: #}
