{% extends "page.html" %}

{% block title %}{{this.title}}{% endblock %}

{% block main %}
  {#- landing page slideshow #}
  <div class="landing-slideshow {{this.layout}} swiper-container mousewheel keyboard"
      data-autoplay="true" data-interval="{{this.interval}}">
    <div class="swiper-wrapper">
      {%- for slide in bag(this.slides_bag or 'borano.landing.' + this.layout) %}
      <div class="swiper-slide">
        {%- for url in slide.images %}
        <div data-background="{{url | asseturl}}"></div>
        {%- endfor %}
      </div>
      {%- endfor %}
    </div>
  </div>

  {#- entrance link #}
  <a href="{{this.next_page|url}}" class="entrance">
    <h3 class="title">{{this.title}}</h3>
  </a>
{% endblock %}

{# vim: set filetype=htmldjango: #}
